@import 'abstracts/mixins';
@import 'abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap');

*, body {
  font-family: "Inter", Verdana, Helvetica, sans-serif;
  color: $main-color-font;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-snap-type: y mandatory;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  position: relative;
  min-height: 100vh;
  scroll-snap-align: start;
  img {
   object-fit: cover;
 }
}
/*Header*/
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  h1 {
    font-weight: 600;
    font-size: 15px;
    margin: 2rem 0 0 4rem;
  }
}
.header .header__elements--navbar ul {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li {
    padding: 2rem;
    a {
      font-size: $main-font-size;
      color: rgba(0, 0, 0, 1);
      padding: .7rem;
    }
    a:hover {
     background-color: rgba(75, 75, 75, 0.1);
     border-radius: 50px;
     transition: .8s ease-out;
    }
  }
}
/*Main:*/
/*partie profil*/
.profile, .career, .skills {
  @include block-section;
}
.profile .profile__elements {
  position: absolute;
  width: 50%;
  top: 0;
  margin-top: 10rem;
  h2 {
    font-size: 30px;
  }
  p {
    margin-bottom: 3rem;
  }
}
/*Flèche vers le bas*/
.profile .profile__arrow-down {
  margin-bottom: 20rem;
  animation: arr 2s infinite;
  z-index: 1;
  div:before { 
      content:"";
      position:absolute;
      width: 1rem;
      height: 1rem;
      border-top:2px solid $main-color-font;
      border-right:2px solid $main-color-font;
      transform:rotate(135deg);
    }
  }
  @keyframes arr {
    30%,100%{
      transform:translateY(0px);
    }
    50%{
      transform:translateY(30px);
    }
  }
/*partie parcours*/
.career h2 {
  position: absolute;
  font-size: 30px;
  top: 0;
  margin-top: 10rem;
}
.career .career__elements {
  position: absolute;
  width: 60%;
  height: 50%;
  overflow-y: scroll;
  z-index: 1;
}
.career .career__elements--avista {
  height: 1.5rem;
  margin-top: 22rem;
}
.career .career__elements--piscine {
  height: 1.5rem;
  margin-top: 18rem;
}
.career .career__elements--christmas {
  height: 1.5rem;
  margin-top: 20rem;
}
.career .career__elements--avista-title,
.career .career__elements--piscine-title,
.career .career__elements--christmas {
  margin-bottom: 1rem;
span {
  font-size: $main-font-size;
  margin-top: .5rem;
  }
}
.career .career__elements--avista-detailed,
.career .career__elements--piscine-detailed,
.career .career__elements--christmas-detailed {
  margin: 2rem 0 0 3rem;
  text-align: left;
}
/*partie compétences*/
.skills h2 {
  position: absolute;
  font-size: 30px;
  top: 0;
  margin-top: 10rem;
}
.skills .skills__elements {
  position: absolute;
  height: 50%;
  z-index: 1;
}
.skills .skills__elements--dev, 
.skills .skills__elements--adobe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  img {
    width: 96px;
    height: auto;
    margin: 2rem 3rem 2rem;
  }
}
/*Footer*/
.footer {
  text-align: center;
  width: 100%;
  height: 3vh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer__links {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.footer .footer__links--network {
  margin: 0 1rem 7rem 1rem;
  width: 2rem;
  height: auto;
  transition: transform .6s;
  &:hover {
    transform: scale(1.2);
  }
}
.footer .footer__contact {
  position: fixed;
  font-size: $main-font-size;
  width: 17%;
  display: flex;
  flex-direction: row;
  z-index: 1;
  span {
    min-width: 7rem;
  }
  a:hover {
    font-weight: 600;
  }
}